
	    <aside>
	    	<h3>归档</h3>
	    	<ul>
	    		<li><a href="/list/?time=2017-7">2017年7月</a></li>
	    		<li><a href="/list/?time=2017-8">2017年8月</a></li>
	    		<li><a href="/list/?time=2017-11">2017年11月</a></li>
	    	</ul>
	    	<a href="/write">写文章</a>
	    </aside>
		 
		<div class="content">
		   <ul class="artList">
		        {{#each time}}
				<li>
					<a class="img" href="/article/?title={{this.artTit}}">
						<img src="/images/upload/default.png" alt="{{this.artTit}}">
					</a>	
					<div class="artDetail">
						<h4 class="artTit">{{this.artTit}}</h4>
						<span class="des">
							{{this.artDes}}...&nbsp;&nbsp;<a class="mores" href="/article/?title={{this.artTit}}">[查看全文]</a>
							<input type="button" class="del" value="删除本文">
						</span>
						<div class="aboutArt">
							<span>作者：{{this.artAuthor}}</span>&nbsp;&nbsp;
							<span>发表时间：{{this.artYearM}}-{{this.artDay}}</span>&nbsp;&nbsp;
							<span>阅读量：{{this.artCount}}</span>
						</div>
					</div>																	
				</li>
				{{/each}}
	
			</ul>	
		</div>
		<script src='js/jquery-1.9.1.min.js'></script>
		<script>
			$(function(){
				$('.del').click(function(){
					 $(this).parent().parent().parent().remove();
           			 var  deldata = {'artTit':$(this).parent().parent().children(0).html()}
						console.log(deldata)
           			 $.post('/', deldata, function(data){
               			 if(data == 'ok'){
               			alert('删除成功！');
           			}
       			 })
				})
			})
		</script>
		
										
